/* the styles for the html elements */
html {
    background-image: url("../images/player_background.png");
    background-position: center;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin-top: 0;
    font-family: Arial Black;
    width: 900px;
    margin: 0 auto;
    background-color: white;
    border: 5px solid blue;
    padding: .5em 2em;
}

header {
    margin: 0;
    border-bottom: 4px solid greenyellow;
    clear: both;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: blueviolet;
}
main {
    margin: 0;
    clear: both;
}
aside {
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    padding-bottom: 0.5em;
}
section {
    float: left;
    width: 500px;
    padding-bottom: 1.5em;
}
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid blue;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 {
    color: blueviolet;
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: blueviolet;
    
}
a:hover {
    color: greenyellow;
}
table {
    border: 2px solid blue;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
    color: blue;
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}

img#pl_logo{
    /*position: absolute;*/
    float:right;
    height: 50px;
    width: 50px;
    /*height: 50px;*/
}

#logo{
    position: absolute;
    top: 20%;
    left: 55%;
    float: right;
    height: 65px;
    width: 65px;
}


label{
    color: blueviolet;
}

option{
    color: blueviolet;
}

select{
    color: blueviolet;
}
/********************************************************************
* Additional styles for the Product Manager application
********************************************************************/
#add_player_form {
    margin: .5em 0 1em;
}
#add_player_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_player_form input {
    float: left;
    color: purple;
}
#add_player_form input[text] {
    width: 15em;
    color: purple;
}
.nav-tabs {
    border:none;
}